/* CUSTOM STYLES PLANCHAS */

body {background:rgb(179 204 233 / 39%);}

.header-planchas {margin-bottom:50px;background:url('../images/DC28665-Iron-Cat-LP-hero.jpg');min-height: 600px;background-size: cover;background-position: center;}
.header-planchas h3 {color:#fff;font-family: 'Bitter', serif;margin: 0 0 10px;font-size: 31px;font-weight: 600;}
.header-planchas p {line-height:normal;color:#fff;font-family: 'Barlow', serif;margin:0;font-size: 16px;}

.header-planchas .container {position:relative;}
.bg-filter {position: absolute;left: 0;right: 0;bottom: 0;top: 0;background: rgb(0 23 56 / 35%);z-index: 0;}

.planchas-guia {position:relative;background:url('../images/DC28665-Iron-Cat-LP-AV-Main-Bcg.jpg');background-size:cover;background-position:center;padding:50px 0;}
.planchas-guia .icon-cat {max-width:60px;}
.planchas-guia h3 {font-size: 27px;margin: 15px 0 0;font-family: 'Bitter', serif;font-weight: 600;color: #B3CCE9;}
.planchas-guia p {line-height:normal;font-family: 'Barlow', serif;color: #fff;font-size: 16px;margin: 5px 0 0;}
.planchas-guia .guia {cursor:pointer;color: #fff;border: 3px #fff solid;display: inline-block;padding: 10px 15px;margin-top: 15px;font-size: 14px;font-family: 'Barlow', serif;font-weight: bold;}

.rg-cont a {display:inline-block;text-decoration:none;}
.planchas-guia .rg-cont h4 {color: #fff;text-transform: uppercase;margin: 10px 0 0;font-size: 18px;font-family: 'Barlow', serif;font-weight: bold;}
.planchas-guia .rg-cont p {font-size:15px;margin: 5px 0 15px;}

.paso-01-guia.active-paso-01 {display:flex;transition:.6s;opacity:1;}
.paso-02-guia.active-paso-02 {display:flex;transition:.6s;opacity:1;}
.paso-03-guia.active-paso-03 {display:flex;transition:.6s;opacity:1;}

.paso-01-guia {display:none;opacity:0;transition:.6s;align-items:center;position:absolute;left:0;right:0;top:0;bottom:0;background:url('../images/DC28665-Iron-Cat-LP-AV-Q1-Bcg.jpg');background-size:cover;background-position:center;}
.paso-02-guia {display:none;opacity:0;transition:.6s;align-items:center;position:absolute;left:0;right:0;top:0;bottom:0;background:url('../images/DC28665-Iron-Cat-LP-AV-Q2-Bcg.jpg');background-size:cover;background-position:center;}
.paso-03-guia {display:none;opacity:0;transition:.6s;align-items:center;position:absolute;left:0;right:0;top:0;bottom:0;background:url('../images/DC28665-Iron-Cat-LP-AV-Q3-Bcg.jpg');background-size:cover;background-position:center;}
.planchas-guia .paso-01-guia h3 {margin:0 0 25px;color: #fff;}
.planchas-guia .paso-02-guia h3 {margin:0 0 25px;color: #fff;}
.planchas-guia .paso-03-guia h3 {margin:0 0 25px;color: #fff;}


.item {align-items: center;background-color:rgb(255 255 255 / 71%);display: flex;justify-content: center;}
.planchas-sec-slide {padding:80px 0;position:relative;}
.planchas-sec-slide .icon {max-width:50px;}
.planchas-sec-slide .pdd {padding:80px;}
.planchas-sec-slide h3 {font-size: 27px;margin: 15px 0 0;font-family: 'Bitter', serif;font-weight: 500;color:#00427A;}
.planchas-sec-slide p {line-height:normal;font-family: 'Barlow', serif;color:#474747;font-size: 16px;margin: 5px 0 0;font-weight:normal;}
.planchas-sec-slide .back-item-image {min-height: 550px;background-size: cover !important;background-position: bottom center !important;}

.owl-theme .owl-dots .owl-dot span {background:transparent;margin: 5px 5px;border: 2px #fff solid;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background:#fff;}
.owl-dots {position: absolute;right: 22%;margin-left: auto;margin-top: 0;margin-bottom: 10px;bottom: 0;background: rgb(0 23 56 / 75%);border-radius: 15px;padding: 5px 5px 0px;}

.owl-nav {position: absolute;right: 0;bottom: 0;left: 0;top: 0;max-width: 50%;margin-left: auto;display: flex;align-items: center;}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {background: none;color: #fff;font-size: 80px;}
.owl-carousel .owl-nav button.owl-prev {margin-right:auto;display:flex;align-items:center;}
.owl-carousel .owl-nav button.owl-next {display:flex;align-items:center;position:relative;z-index:3;}
.owl-theme .owl-nav [class*='owl-']:hover {background:none;}

.content-guia-responsive {display:none;}

#secslide03 .item {background:none;}
.planchas-sec-slide .pdd a {color: #001738;border: 3px #001738 solid;display: inline-block;padding: 10px 15px;margin-top: 25px;font-size: 16px;font-family: 'Barlow', serif;font-weight: bold;text-decoration: none;text-transform: uppercase;}

.planchas-tabs {padding:80px 0;background: url('../images/DC28665-Iron-Cat-LP-tips-Bckg-1.jpg');background-size: cover;background-position: center;}
.planchas-tabs h3 {color:#fff;font-family: 'Bitter', serif;margin: 0 0 50px;font-size: 31px;font-weight: 600;}
.nav-tabs {justify-content:center;align-items: flex-end;margin-bottom: 40px;}
.nav-tabs .nav-link svg {max-width:60px;margin-bottom:10px;display:block;margin-left:auto;margin-right:auto;}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {border: 5px transparent solid;border-top: 0;border-left: 0;border-right: 0;}
.nav-tabs .nav-link {border: 5px transparent solid;border-top: 0;border-left: 0;border-right: 0;text-align:center;color: #fff;font-family: 'Barlow', sans-serif;font-weight: bold;font-size: 12px;padding: 15px 25px;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {color: #ffff;background-color: rgb(5 23 54 / 27%);border-color: #000;border-top: 0;border-left: 0;border-right: 0;border-width: 5px;}

.nav-link.active .cls-1, .sec001-active-icon .cls-1, .sec02-active-icon .cls-1, .sec03-active-icon .cls-1, .sec04-active-icon .cls-1 {fill:#001738 !important;}

.tab-pane h3 {font-size: 27px;margin: 15px 0 0;font-family: 'Bitter', serif;font-weight: 600;color:#00427A;}
.tab-pane p {line-height:normal;font-family: 'Barlow', serif;color:#fff;font-size: 17px;margin: 5px 0 0;font-weight:normal;}

#secslide03 .owl-dots {left:22%;right:inherit;z-index:2;}
#secslide03 .owl-nav {margin-right:auto;margin-left:0px;}

.box-info {display:inline-block;text-decoration:none;cursor:pointer;background: #F5DE92;display: flex;align-items: center;flex-direction: column;padding: 40px;text-align:center;height:100%;}
.box-info svg {max-width:40px;}
.box-info h4 {margin: 15px 0 0;font-size: 19px;color:#001738;font-family: 'Bitter', serif;font-weight: bold;}
.box-info .cls-1 {fill:#001738 !important;}

.absolute-image-icon-video {position: absolute;top: 0;bottom: 0;right: 10%;left: 10%;display: flex;align-items: center;justify-content: center;}
.absolute-image-icon-video img {max-width:100px;cursor:pointer;}

.modal-video.active-modal {display:flex;}

.modal-video {position: fixed;background: rgb(0 23 56 / 75%);left: 0;right: 0;bottom: 0;top: 0;z-index: 2;display: none;align-items: center;justify-content: center;}
.modal-video .container {max-width: 800px;padding: 30px;background: #001738;}
.modal-video .container iframe {width: 100%;height: 500px;}

.prevtab, .nexttab {background: none;border: none;transition:.6s;max-width: 40px;position:relative;z-index:3;}
.nexttab {transform: rotate(180deg);}
.prevtab:hover, .nexttab:hover, .prevtab:focus, .nexttab:focus, .prevtab:active, .nexttab:active {opacity:.5;transition:.6s;border:none !important;background:none !important;box-shadow:none !important;}

.hidden-responsive {display:block;}
.show-responsive {display:none;}

#destacados .owl-stage {margin: 0 auto;}

#slidevideos01 .item {background:none;}
#slidevideos01 .owl-nav {max-width:100%;}
#slidevideos01 .owl-dots {display:none;}

#slidevideos01 .owl-stage-outer {z-index:1;}
#slidevideos01 .owl-nav button.owl-prev, #slidevideos01 .owl-nav button.owl-next {position:relative;z-index:3;}

#secslide03 .owl-stage-outer {z-index:1;}
#secslide03 .owl-nav button.owl-prev, #secslide03 .owl-nav button.owl-next {position:relative;z-index:3;}

#slidevideos02 .item {background:none;}
#slidevideos02 .owl-nav {max-width:100%;}
#slidevideos02 .owl-dots {display:none;}

#slidevideos02 .owl-stage-outer {z-index:1;}
#slidevideos02 .owl-nav button.owl-prev, #slidevideos01 .owl-nav button.owl-next {position:relative;z-index:3;}

#slidevideos03 .item {background:none;}
#slidevideos03 .owl-nav {max-width:100%;}
#slidevideos03 .owl-dots {display:none;}

#slidevideos03 .owl-stage-outer {z-index:1;}
#slidevideos03 .owl-nav button.owl-prev, #slidevideos01 .owl-nav button.owl-next {position:relative;z-index:3;}

#slidevideos04 .item {background:none;}
#slidevideos04 .owl-nav {max-width:100%;}
#slidevideos04 .owl-dots {display:none;}

#slidevideos04 .owl-stage-outer {z-index:1;}
#slidevideos04 .owl-nav button.owl-prev, #slidevideos01 .owl-nav button.owl-next {position:relative;z-index:3;}

.owl-carousel .owl-nav button.owl-prev span {background: url('../images/icon-flecha.png');font-size: 0px;width: 35px;height: 35px;display: inline-block;background-size: contain;background-repeat:no-repeat;}
.owl-carousel .owl-nav button.owl-next span {background: url('../images/icon-flecha.png');font-size: 0px;width: 35px;height: 35px;display: inline-block;background-size: contain;background-repeat:no-repeat;transform: rotate(180deg);}

.carrous-planchas-desctacados {padding:80px 0;}
.carrous-planchas-desctacados h3 {font-size: 23px;margin: 0 0 40px;font-family: 'Bitter', serif;font-weight: 600;color: #696158;}
.carrous-planchas-desctacados .item {flex-direction: column;background: #fff;padding: 0px 15px 20px;text-align: center;}
.carrous-planchas-desctacados .info-cta {margin-top:10px;margin-top: 10px;min-height: 85px;display: flex;flex-direction: column;align-items: center;}
.carrous-planchas-desctacados .item .content-image {width: 100%;min-height: 150px;background-size: contain !important;background-position: center !important;background-repeat: no-repeat !important;}
.carrous-planchas-desctacados .item .info-cta h4 {font-size: 12px;font-family: 'Barlow', serif;color: #474747;margin: 0;text-align: left;}
.carrous-planchas-desctacados .item .info-cta a {color: #001738;border: 3px #001738 solid;display: inline-block;padding:5px 15px;margin-top: auto;font-size: 16px;font-family: 'Barlow', serif;font-weight: bold;text-decoration: none;text-transform: uppercase;}
.carrous-planchas-desctacados .owl-dots {display:none;}
.carrous-planchas-desctacados .owl-nav {max-width:100%;}
.carrous-planchas-desctacados .owl-carousel .owl-nav button.owl-prev {margin-left:-30px;}
.carrous-planchas-desctacados .owl-carousel .owl-nav button.owl-next {margin-right:-30px;}

@media only screen 
  and (max-width: 767px){
    .nav-tabs .nav-link {border: 2px #fff solid;border-top: 0;border-left: 0;border-right: 0;font-size: 18px;padding: 10px 15px 10px;display: flex;align-items: center;justify-content: flex-start;}
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {border-width: 2px;}
    .nav-tabs .nav-link svg {max-width: 45px;margin-bottom: 0;display: inline-block;margin-left: 0;margin-right: 10px;}
    .tab-pane p {margin: 5px 0 25px}
    .tab-pane .owl-nav {bottom:0;}
    .tab-pane .row {margin: 0}
    .nav-tabs img {transform: rotate(-90deg);max-width: 12px;margin-left: auto;margin-right: 5px;transition:.6s;}
    .carrous-planchas-desctacados {padding:40px 0;}
    #destacados {text-align:center;}
    .carrous-planchas-desctacados .owl-nav {display:none;}
    .carrous-planchas-desctacados .owl-dots {display: inline-block;position: relative;right: 0;bottom: 0;width: auto;margin: 20px auto 0;}
    .content-guia-responsive {display:flex;align-items:center;justify-content:center;}
    .planchas-guia {text-align:center;}
    .planchas-guia .icon-cat {max-width: 80px;}
    .planchas-guia h3 {font-size:28px;}
    .planchas-guia p {font-size:19px;}
    .planchas-guia .guia {font-size:20px;}
    .show-responsive {display:block;}
    .planchas-guia .rg-cont p {margin: 5px 0 25px;}
    .hidden-responsive {display:none;}
    .hidden-responsive-pasos {display:none !important;}
  	.header-planchas h3 {text-align:center;}
  	.header-planchas p {text-align:center;font-size: 19px;}
  	.header-planchas {background:url('../images/DC28665-Iron-Cat-LP-hero-mobile.jpg');background-size: cover;background-position: center;}
    .planchas-sec-slide .back-item-image {min-height: 350px;}
    .planchas-sec-slide .pdd {padding:40px;}
    .owl-nav {bottom:50%;max-width:100%;}
    .owl-dots {right:40%;bottom: 53%;}
    #sec01 .item .row {flex-direction:column-reverse;}
    .icon-active {display:none;}
    #secslide03 .owl-dots {left: 37%;right: inherit;margin-bottom: 20px;}
    .nav-tabs li {width:100%;}
    .nav-link.active img {transition:.6s;transform: rotate(90deg);}
    .planchas-tabs {background:url('../images/DC28665-Iron-Cat-LP-tips-Bckg-1-mobile.jpg');background-position: 0px 45px;background-size: contain;background-repeat: no-repeat;background-color: #a6bed9;}
  
    .planchas-guia .paso-01-guia h3, .planchas-guia .paso-02-guia h3, .planchas-guia .paso-03-guia h3 {font-size: 18px;}
    .box-info {padding:20px;}
    .box-info h4 {font-size:14px;}
  }